@font-face {
    font-family: 'retro';
    src: url('../fonts/retro.eot');
    src: url('../fonts/retro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/retro.woff') format('woff'),
         url('../fonts/retro.ttf') format('truetype'),
         url('../fonts/retro.svg#retro') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background: url('../images/background.png') repeat;
    font-size: 16px;
    font-family: helvetica;
    color: #222a22;
}

article {
    width: 80%;
    margin: auto;
}

h1 {
    display: inline-block;
    font-family: retro;
    /*
    left: 400px;
    top: 90px;
    */
    font-size: 132px;
    margin: 0;
    padding: 0;
    color: #000;
    vertical-align: middle;
    text-shadow: -1px -1px 0 #fff, 1px 1px 0 #222;
}

canvas {
    display: inline-block;
    vertical-align: middle;
}

h2, h4 {
    margin: 0;
    padding: 0;
    font-family: retro;
    color: #666866;
    font-size: 64px;
    text-shadow: -1px -1px 0 #fff, 1px 1px 0 #222;
    clear: both;
}

a {
    text-decoration: none;
    color: #7AA4D0;
}
.article-head a {
    font-size: 20px;
}
article a {
    font-size: 18px;
}

.theme-illustration {
    float: right;
}
.theme-illustration-left {
    float: left;
}

.theme-name {
    margin: 0;
    padding: 0;
    font-size: 64px;
}

.article-head {
    font-style: italic;
    font-size: 18px;
    text-indent: 2em;
}

section {
    margin-left: 40px;
}

.bottom-shrooms {
    background: url('../images/smallies.png') repeat-x;
    width: 100%;
    height: 91px;
}
